.header{
	color:white;
	background-color: black;
	text-align: center;
	padding: 10px;
	margin-bottom:0px;
}

.container {
	background-color: gray;
	margin-top:0px;
	padding-top:20px;
	padding-bottom: 50px;
	overflow: auto;
}
h2{
	font-size: 30px;
}

.bio {
	width:25%;
	float:left;
	padding-left: 75px;
	padding-top:60px;
	padding-right:75px;
}
.namepic {
	width:25%;
	float:left;
	padding-left:20px;
}
.contact {
	width: 25%;
	float:left;
	padding-left:75px;
	
}
img {
	width:300px;
	height:300px;


}